<html>
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        Current page likes:
        <div data-prop-dbkey="/orbitdb/zdpuAnK56RKT3g19AMBQW9aL7uuAXauqSeDeEMQk9hb5iocxX/dlike.qm64.tech"><script src="dlike.js"></script></div>
    </body>
</html>