<html>
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        Current page likes:
        <div data-prop-dbkey="/orbitdb/zdpuArURb9AHYFCQiuC5GMUx9yRVKa9Qy2hDXt6XPvLXQpifz/dlike-dlike.qm64.tech"><script src="dlike.js"></script></div>
    </body>
</html>