<html>
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        Current page likes:
        <div data-prop-dbkey="dlike-hello-world"><script src="dlike.js"></script></div>
    </body>
</html>