<html>
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        Current page likes:
        <div id="dlike_likes" data-prop-key="">
            <%= htmlWebpackPlugin.tags.bodyTags %>
        </div>
    </body>
</html>