<html>
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        Current page likes:
        <div id="dlike_likes" data-prop-key="hello-world">
            <script src="dlike.js"></script>
        </div>
    </body>
</html>